/* src/components/AuthButtons.module.css */
.authButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .bg-primary {
    background-color: #007bff;
  }
  
  .bg-secondary {
    background-color: #6c757d;
  }
  
  .bg-red-500 {
    background-color: #f56565;
  }
  
  .signUpLink {
    margin-top: 1rem;
    text-align: center;
  }
  
  .signUpLink a {
    color: #fc0036;
    text-decoration: none;
  }
  
  .signUpLink a:hover {
    text-decoration: underline;
  }
  