/* dashboard.module.css */

.halftone {
    position: relative;
  }
  
  .halftone::after {
    content: '';
    position: absolute;
    inset: 0;
    /* Smaller dots */
    background-image: radial-gradient(circle at center, var(--halftone-color) 0.1rem, transparent 0);
    background-size: 0.3rem 0.3rem;
    /* Fading from left to right, visible on the right 30% */
    mask-image: var(--halftone-mask);
    filter: contrast(50);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .halftone:hover::after {
    opacity: 1;
  }
  